{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>Меня зовут Пузеркин Иван и мне 24 года. Обучаюсь на факультете бэкэнд разработки в Яндекс Практикум. Мой GitHub: https://github.com/vanja109</p>
<p>В 2020 году получил степень бакалвра по направлению информационные системы и технологии. Работаю по направлению системного администрирования. Решил попробовать себя в разработке, получить новые знания и навыки.</p>
{% endblock %} 