{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>В этой работе Я использовал языки верстки: HTML и CSS. Но основной инструмент это фреймворк Django языка Python для бэкэнд разработки сайтов.</p>
    <p>Мне еще предстоит поближе познакомиться с декораторами и валидаторами. Теоретические задания с ними я прошел, но в памяти не закрепилась структура и последовательность использования.</p>
  </article>
</div>
{% endblock %} 